server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
spring:
  session:
    store-type: jdbc
  profiles:
    active: real
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate.format_sql: true
    hibernate:
      ddl-auto: update
    generate-ddl-auto: create
    show_sql: true
logging:
  level:
    org.springframework.web : DEBUG
jwt:
  secret: jwtsecret
